

<div class="logo">
    <img src="~/images/logo.png" alt="Liga Logo" />
    <h1>Warszawska Liga Amatorska</h1>
</div>


<style>
    .top-bar {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: #333;
        color: white;
    }
    .top-bar .left a,
    .top-bar .right a {
        color: white;
        margin: 0 10px;
        text-decoration: none;
    }
    .logo {
        text-align: center;
        margin: 20px 0;
    }
    .logo img {
        max-height: 100px;
    }
    .photos {
        display: flex;
        justify-content: space-around;
        margin: 20px 0;
    }
    .photo {
        text-align: left;
    }
    .photo img {
        max-width: 100%;
        height: auto;
    }
</style>